<table class="table" style="color: black;">
<tr>
<td><%= response.radio_button :response_data, question.possible1 %> <%= question.possible1 %></td>
<td><%= response.radio_button :response_data, question.possible2 %> <%= question.possible2 %></td>
</tr>
</table
